@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/JavaScriptLabExample1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript">
       $(document).ready(function(){

           getBikesFromDatabase();
       })
    </script>
    <title>GetBikes</title>
</head>
<body>
    <div id="tableBikes">
    </div>
</body>
</html>
